{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <h1 id="header-title">All Blog Posts</h1>
    <div class="container">
        {% for post in posts %}
        <div class="s-container">
        <div class="title">
            <h2>{{post.title}}</h2>
            <small>{{post.created_at}}</small>
        </div>
        <div class="body-txt">
            <p>{{post.body | slice:200}}...</p>
            <div class="butt">
                <form action="/post/{{post.id}}">
                    <button type="submit">See More...</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</body>
</html>